@media screen and (max-width: 800px) {
  .gameContainer {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .gameInfo {
    margin-top: 82px;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}